@model List<Challenge.Models.Empleado>

@{
	ViewBag.Title = "Challenge Test";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
	<div class="col-md-4">
		<h2>Buscador</h2>
		<div style="float: left; margin-right: 10px;">Id Employee:</div>
		<div style="float: left; margin-right: 10px;">
			<input type="text" />
		</div>
		<div style="float: left; margin-right: 10px;">
			<button value="Find" title="Find">Find</button>
		</div>
	</div>
</div>

<hr/>

<table class="table">
	<thead>
		<tr>
			<th>Id Employee</th>
			<th>Name</th>
			<th>Role</th>
			<th>Contract Type</th>
			<th>Anual Salary</th>
		</tr>
	</thead>
	<tbody>

		@foreach (var empleado in Model)
		{
			<tr>
				<td>@empleado.id</td>
				<td>@empleado.name </td>
				<td>@empleado.roleName </td>
				<td>@empleado.contractTypeName </td>
				<td>@empleado.annualSalary.ToString() </td>
			</tr>

		}
	</tbody>

</table>
